.container{
    padding: 3rem;
}

.imagen{
  width: 200px;
  height: 150px;  

}

.Button{
    border: 2px solid red; 
  }


  .box{
    height: 10px;
    display: block;
    background-color: bisque;
  }


  .message-error{
    background-color: aqua;
    color: blue;
    opacity: 0;
    transition: all linear .5s;
  }
  .message-error.show{
    opacity: 1;
  }